<form method="get" action="/animals/new">
  <button class="btn" type="submit">Add New Animal</button>
</form>

<br>

<table>
  <tr>
    <th>Name</th>
    <th>Animal</th>
    <th>Breed</th>
    <th>Admission Date</th>
    <th>Ready for Adoption</th>
  </tr>

  <% @animals.each do |animal| %>
    <tr>
      <td><a href="/animals/<%= animal.id %>" ><%= animal.name.capitalize %></a></td>
      <td><%= animal.type.capitalize %></td>
      <td><%= animal.breed.capitalize %> </td>
      <td><%= animal.admission_date %></td>
      <td>
        <% if animal.owner_id %>Adopted
        <% elsif animal.adoptable == true %><a href="/adopt-me/<%= animal.id %>">Adopt Me</a>
        <% else %>Not Yet Available
        <% end %>
      </td>
      <td><a href="animals/<%= animal.id %>/edit">Edit</a></td>
    </tr>
  <% end %>
</table>
