<img class="solo-photo" src="/images/<%= @animal.image %>" alt="photo of <%= @animal.name %>">

<p>Name: <%= @animal.name %></p>
<p>Type: <%= @animal.type.capitalize %></p>
<p>Breed: <%= @animal.breed.capitalize %></p>

<form method="post" action="/adopt-me/<%= @animal.id %>/adopt">
  <input type="hidden" name="_method" value="put">

    <label for="owner-name">Adopted By:</label>

      <select name="owner_id">
        <% @owners.each do |owner| %>
          <% unless owner.home_check == 'f' %>
            <option value="<%= owner.id %>"><%= owner.name %></option>
          <% end %>
        <% end %>
      </select>

  <br>
  <br>

  <button class="btn">ADOPT</button>

</form>
