<form method="get" action="/owners/new">
  <button type="submit">Add New Owner</button>
</form>


<h2>Owners listed with their adpoted animals:</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Contact Number</th>
    <th>Adopted Animal</th>
  </tr>

  <% @table.each do |item| %>
    <tr>
      <td><%= item['name'] %></td>
      <td><%= item['address'] %></td>
      <td><%= item['phone_number'] %></td>
      <td><%= item['animal_name'] %></td>
    </tr>
  <% end %>
</table>

<h2>New Owners list:</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Contact Number</th>
    <th>Home Check</th>
  </tr>

  <% @table2.each do |owner| %>
    <tr>
      <td><%= owner['name'] %></td>
      <td><%= owner['address'] %></td>
      <td><%= owner['phone_number'] %></td>
      <td>
      <% if owner['home_check'] == 't' %>Passed
      <% else %>In Progress
      <% end %>
      </td>
      <td><a href="/owners/<%=owner['id']%>/edit">edit</a></td>
      <td>

        <form class="delete" action="/owners/<%=owner['id']%>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button type="submit" >delete</button>
        </form>

      </td>

    </tr>
  <% end %>
</table>
